/* Class properties */
.profile-img {
   max-width: 100%;
   height: auto;
}

.cicon {
   max-width: 3%;
   height: auto;
}

.cred-img {
   max-width: 18%;
   height: auto;
   padding: 15px 5px;
}

/* element properties */


td {
   padding: 10px;
}

ul {
   line-height: 2;
}

section:before {
   height: 60px;
   content: "";
   display:block;
}
