/* Class properties */
.profile-img {
   max-width: 100%;
   height: auto;
}

.cicon {
   max-width: 3%;
   height: auto;
}

.cred-img {
   max-width: 35%;
   height: auto;
   padding: 25px 25px 25px;
   transition: box-shadow .3s;
}

.cred-img:hover {
   /* background-color: rgb(36, 92, 36); */
   box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.cred-img1 {
   width: 35%;
   padding: 25px 25px 25px;
   transition: box-shadow .3s;
}

.cred-img1:hover {
   box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.navbar-brand {
   font-size: 1.25rem;
   font-weight: bold;
}

/* media query */
@media (min-width: 770px) {
   .cred-text {
      text-align: center;
   }
   .navbar-brand {
      font-size: 1.5rem;
   }
}

/* element properties */


td {
   padding: 10px;
}

ul {
   line-height: 2;
}

section:before {
   height: 55px;
   content: "";
   display:block;
}
